html,
body
{S
  margin: 0;
  font-family: Arial, sans-serif;
}

/* hide horizontal scrollbars, since we use the vertical ones to scroll to the right */
body
{
  overflow-x: hidden;
  background-color: #22a8cb;
}


/**
  * important: keep position fixed, you can however use top:0 instead of bottom:0
  * if you want to make it stick to the top of the browser
  */
.scroll
{
  position: fixed;
  bottom: 0;
  left: 0;
}

/**
  * z-index ordering of the different layers, do this for your layers,
  * also assign absolute width (to prevent issues if the script gets executed before the images get loaded)
  */
.horizon {
  z-index: 1;
  width: 3000px;
  pointer-events: none;
}

.middle {
  z-index: 500;
  width: 4000px;
  pointer-events: none;
}

.front {
    z-index: 1500;
    width: 13000px;
    pointer-events: none;
}

.sun {
    height: 90%;
    padding-left: 400px;
    position: fixed;
}

#sun { right: 2rem; }

.gods {
    position: fixed;
    z-index: 10000;
    bottom: 120px;
    pointer-events: none;
}

.tunnel{
    z-index: 11000;
    pointer-events: none;

}
.sign {
    padding-left: 2200px;
    padding-bottom: 50px;
    z-index: 11500;
    pointer-events: none;
}

.guitar{   
    padding-left: 8350px;
    padding-bottom: 80px;
}

.sketch1{
    padding-left: 2245px;
    padding-bottom: 242px;
     z-index: 13000;
}

.sketch2{
    padding-left: 5235px;
    padding-bottom: 330px;
     z-index: 13000;
}

.sketch3{
    padding-left: 8499px;
    padding-bottom: 325px;
    z-index: 13000;
}

.sketch4{
    padding-left: 11570px;
    padding-bottom: 473px;
     z-index: 13000;
}


.radio {
    padding-left: 4250px;
    padding-bottom: 85px;
    pointer-events: none;
}

.amusement {
    padding-left: 7700px;
    z-index: 9000;
    pointer-events: none;

}

.amusement_f {
    padding-left: 7700px;
    z-index: 11500;
    pointer-events: none;
}

.balloon {
    padding-left: 4900px;
    z-index: 11500;
     padding-bottom: 240px;
    pointer-events: none;
}

.cinema {
    padding-left: 11400px;
    z-index: 11500;
    padding-bottom: 180px;
    pointer-events: none;
}