html,
body
{
  margin: 0;
  font-family: Arial, sans-serif;
}

/* hide horizontal scrollbars, since we use the vertical ones to scroll to the right */
body {
  overflow-x: hidden;
  background-color: #22a8cb;
}


/**
  * important: keep position fixed, you can however use top:0 instead of bottom:0
  * if you want to make it stick to the top of the browser
  */
.scroll {
  position: fixed;
  bottom: 0;
  left: 0;
}

/**
  * z-index ordering of the different layers, do this for your layers,
  * also assign absolute width (to prevent issues if the script gets executed before the images get loaded)
  */
.horizon {
  z-index: 1;
  width: 3000px;
  pointer-events: none;
}

.middle {
  z-index: 500;
  width: 4000px;
  pointer-events: none;
}

.front {
    z-index: 1500;
    width: 13000px;
    pointer-events: none;
}

.sun {
    height: 90%;
    padding-left: 400px;
    position: fixed;
}

#sun { right: 2rem; }

.gods {
    position: fixed;
    z-index: 10000;
    bottom: 120px;
    pointer-events: none;
}

.tunnel{
    z-index: 11000;
    pointer-events: none;
    padding-left: 1295px;
    padding-bottom: 40px;

}
.sign {
    padding-left: 3400px;
    padding-bottom: 50px;
    z-index: 11500;
    pointer-events: none;
}

.golf {
    padding-left: 6700px;
    bottom: 140px;
    z-index: 11000;
}

.trees {
    padding-left: 5700px;
    bottom: 60px;
    z-index: 11000;
}

.amusement {
    bottom: 40px;
    padding-left: 7500px;
    z-index: 8000;
    pointer-events: none;

}

.amusement_f {
    padding-bottom: 40px;
    padding-left: 7500px;
    z-index: 11000;
    pointer-events: none;
}


.cinema {
    padding-left: 10400px;
    z-index: 11500;
    padding-bottom: 180px;
    pointer-events: none;
}

.video-container {
    z-index: 30000;
    width: 13000px;
}

.audio-container {
    z-index: 40000;
    width: 13000px;
}

.sketch1 {
	position: relative;
	left: 3428px;
	bottom: 2px;
}

.sketch2 {
    position: relative;
    left: 6725px;
    bottom: 5px;
}

.sketch3 {
    position: relative;
    left: 8140px;
    bottom: 28px;
}

.sketch4 {
    position: relative;
    left: 10525px;
    bottom: 395px;
}

.imageRadio {
    position: relative;
    left: 5050px;
    bottom: 115px;
}
    

.pictureGuitar{
    position: relative;
    left: 9750px;
    bottom: 80px;  
}
